{% extends 'Layout.twig' %}

{% block content %}
<div class="pl-row" style="background-color: #e1ffea">
    <div class="pl-col">
        <br>
        <h3>404 Error: Page Not Found</h3>
        <br>
        <p>
            Sorry, the page you are looking for could not be found. <br>
            Try checking the URL for errors, then hit the refresh button on your browser. Or you can simply click the
            link below.
        </p>
        <br>
        <h4><a href="/">Go to Home Page</a></h4>
    </div>
</div>
{% endblock %}