{% extends 'Layout.twig' %}

{% block content %}
<div class="pl-container">
    <div class="pl-row">
        <div class="pl-col">
            <h1>Google Drive Link to Json Link App</h1>

            <h4>A single point API for viewing true JSON datatypes.</h4>

        </div>
    </div>
</div>
{% endblock %}