{% extends 'Layout.twig' %}

{% block content %}
<div class="pl-row" style="background-color: #e1ffea">

    <div class="pl-col">

        <br>

        <h3>This app explained:</h3>

        <p>
            When you use a "/view" link for a document file type on Google Drive, the link returns a "human-readable"
            version of the document. If the document contains a JSON object, curling the link will not return the object,
            but rather an HTML document containing uglified javascript. That code, when viewed in a browser, renders
            a view that looks like text on a page (or a Google Doc).
        </p>

        <br>

        <p>
            Systems utilizing JSON data by way of an HTTP link are expecting a JSON object, not an HTML document.
            By giving this hosted app such a Google Drive view URL, it will convert the link to a download/streaming
            link, load the contents into a buffer, and return it with the necessary headers to be interpreted as a
            json object.
        </p>

        <br>

        <p>
            As links can get to be quite long, you may also submit just the file ID from the URL. The file id is the
            string of numbers, letters, and sometimes symbols that is found between `/d/` and `/view` in the URL. For
            brevity, you may prefer to use just the file ID.
        </p>

        <br>
    </div>
</div>

<div class="pl-row" style="background-color: #e1ffea">

    <div class="pl-col">

        <h3>Try it out:</h3>

        <form action="/" method="get" id="linkSubmit" name="linkSubmit">

            <label for="url">Enter a Google Drive view link:</label>
            <input type="text" placeholder="https://drive.google.com/file/d..." id="url" name="url" form="linkSubmit">

            <button type="submit" class="pl-button full" form="linkSubmit">Submit</button>
            <button type="reset" class="pl-button full red" form="linkSubmit">Clear</button>

        </form>

        <br>
        <br>

    </div>

    <div class="pl-col">

        <h3>Try it out with just the File ID:</h3>

        <form action="/" method="get" id="idSubmit" name="idSubmit">

            <label for="id">Enter a Google Drive file ID:</label>
            <input type="text" placeholder="" id="id" name="id" form="idSubmit">

            <button type="submit" class="pl-button full" form="idSubmit">Submit</button>
            <button type="reset" class="pl-button full red" form="idSubmit">Clear</button>

        </form>

        <br>
        <br>

    </div>

</div>
{% endblock %}