<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Drive TXT Link to JSON Link App</title>
    <link rel="stylesheet" href="https://unpkg.com/plain-css@latest/dist/plain.min.css">
    <style></style>
</head>
<body>

<br><br>
<div class="pl-container">

    <div class="pl-row">
        <div class="pl-col text-center" style="background-color: #9fc6aa">
            <a href="/" style="color: black;text-decoration: none;">
                <h1>Google Drive Link to Json Link App</h1>
            </a>
            <h4>A single point API for viewing true JSON datatypes.</h4>
        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="pl-row">
        <div class="pl-col text-center" style="background-color: #9fc6aa">
            <p style="font-weight: bold;">
                Created by
                <a href="https://www.conflabs.com" style="font-weight: bold;color: #000000;text-decoration: underline">
                    Confidence Analytics
                </a>
                &heartsuit; {{ year }}
            </p>
            <p style="font-weight: bold;">
                Self-Host this app:
                <a href="https://github.com/conflabs/json-file-viewer" style="font-weight: bold;color: #000000;text-decoration: underline">
                    https://github.com/conflabs/json-file-viewer
                </a>
            </p>
        </div>
    </div>

</div>

    {% block js %}{% endblock %}

</body>
</html>