<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Drive TXT Link to JSON Link App</title>
    <link rel="stylesheet" href="https://unpkg.com/plain-css@latest/dist/plain.min.css">
    <style></style>
</head>
<body>

    {% block content %}{% endblock %}

    {% block js %}{% endblock %}
</body>
</html>